div.px-4.py-5.my-5.text-center
    img.d-block.mx-auto.mb-4(
        src="../assets/images/BruTech_Logo.png"
        alt="BruTech Computer logo"
    )
    div.col-lg-6.mx-auto.my-5
        div.d-grid.gap-2.d-sm-flex.justify-content-sm-center
            button.btn.btn-primary.btn-lg.px-4.gap-3(type="button") Services
            button.btn.btn-outline-primary.btn-log.px-4(type="button") Contact
