container
  footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top.container-fluid(style="background-color: #ffffff;")
    p.col-md-4.mb-0.text-muted © 2022 BruTech Computer (Developed by Nick & Dan Brunner)

    a.col-md-4.d-flex.align-items-center.justify-content-center.mb-3.mb-md-0.me-md-auto.link-light.text-decoration-none(href="#")
        img(src="assets/images/BT_Logo.png" height="50px")

    ul.nav.col-md-4.justify-content-end
      li.nav-item
        a.nav-link.px-2.text-muted(href="index.html") Home
      li.nav-item
        a.nav-link.px-2.text-muted(href="#services") Services
      li.nav-item
        a.nav-link.px-2.text-muted(href="#") Contact
