div.px-4.py-5.my-5.text-center
  img.d-block.mx-auto.mb-4.img-fluid(src="assets/images/BruTech_Logo.png" alt="BruTech Computer Logo")
  h1.fw-bold (682) 498-3377
  div.col-lg-6.mx-auto.mt-5
    div.d-grid.gap-2.d-sm-flex.justify-content-sm-center
      button.btn.btn-primary.btn-lg.px-4.gap-3(type="button") Services
      button.btn.btn-primary.btn-lg.px-4(type="button") About
