nav#myNavbar.navbar.navbar-light.navbar-expand-lg.border-bottom.fixed-top(style="background-color: #bdccfc;")
  div.container
    a.navbar-brand(href="index.html")
      img(
        src="assets/images/BT_Logo.png"
        height="50px"
      )
    btn.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse(id="navbarToggler")
      div.ms-auto
        ul.navbar-nav.nav-pills
          li.nav-item
            a.nav-link(href="index.html") Home
          li.nav-item
            a.nav-link(href="index.html#services") Services
          li.nav-item
            a.nav-link(href="about.html") About
