nav#myNavbar.navbar.navbar-expand-lg.border-bottom.fixed-top(style="background-color: #bdccfc;")
  div.container
    a.navbar-brand(href="#")
      img(
        src="assets/images/BT_Logo.png"
        height="50px"
      )
    ul.navbar-nav.nav-pills
        //- if name.toLowerCase() !== "home"
        li.nav-item
          a.nav-link(href="index.html") Home
        li.nav-item
          a.nav-link(href="index.html#services") Services
        if name.toLowerCase() !== "about"
          li.nav-item
            a.nav-link(href="about.html") About
        //- if name.toLowerCase() !== "contact"
        //-   li.nav-item
        //-     a.nav-link(href="contact.html") Contact
        
    //- button.navbar-toggler(
    //-   type="button"
    //-   data-bs-toggle="collapse"
    //-   data-bs-target="#navbarNav"
    //-   aria-controls="navbarNav"
    //-   aria-expanded="false"
    //-   aria-label="Toggle navigation"
    //- )
    //-   span.navbar-toggler-icon
    //- div.collapse.navbar-collapse.justify-content-end#navbarNav
    //-   ul.navbar-nav.nav-pills
    //-     li.nav-item
    //-       a.nav-link(href="#") About
    //-     li.nav-item
    //-       a.nav-link(href="#services") Services
    //-     li.nav-item
    //-       a.nav-link(href="#") Contact
