container#services
  div.container

    h2.card-icon-blue Services
    hr

    div.card.mb-3.card-service
      div.row.g-0
        div.col-md-4.text-center.align-items-center.py-4.px-3.my-auto
            img.img-fluid.rounded(src="assets/images/PC_Tune_Up_Image.jpg" alt="")
        div.col-md-8.card-content-left
          div.card-body
            h5.card-title.card-title-green PC Tune Up
            ul.card-text
              li Is your computer safe?
              li Do you have malware stealing your information?
              li Is your computer up to date?
              li Are you running efficiently?

    div.card.mb-3.me-0.ms-auto.card-service
      div.row.g-0
        div.col-md-8.card-content-right.order-2.order-md-1
          div.card-body
            h5.card-title.card-title-green Diagnostics
            ul.card-text
              li Something not working right?
              li Computer running slow?
              li Computer not turning off or on?
        div.col-md-4.text-center.align-items-center.py-4.px-3.order-1.order-md-2
            img.img-fluid.rounded(src="assets/images/PC_Diagnostics_Image.jpg" alt="")

    div.card.mb-3.card-service
      div.row.g-0
        div.col-md-4.text-center.align-items-center.py-4.px-3
            img.img-fluid.rounded(src="assets/images/PC_Upgrade_Image.jpg" alt="")
        div.col-md-8.card-content-left
          div.card-body
            h5.card-title.card-title-green PC Upgrade
            ul.card-text
              li Need more storage?
              li Additional memory?
              li New printer?
              li Home network?

    div.card.mb-3.me-0.ms-auto.card-service
      div.row.g-0
        div.col-md-8.card-content-right.order-2.order-md-1
          div.card-body
            h5.card-title.card-title-green Remote Support or Pick Up/Drop Off
            ul.card-text
              li Need help from afar?
              li Don't want to leave your home for help?
              li Too busy?
        div.col-md-4.text-center.align-items-center.py-4.px-3.order-1.order-md-2
            img.img-fluid.rounded(src="assets/images/PC_Remote_Image.jpg" alt="")
