container#services
  div.container

    h2.card-icon-blue Services
    hr

    div.card.mb-3.card-service
      div.row.g-0
        div.col-md-4.text-center.align-items-center.py-5.px-4
            i.fa-solid.fa-screwdriver-wrench.fa-5x.card-icon
        div.col-md-8.card-content-left
          div.card-body
            h5.card-title.card-title-green PC Tune Up
            ul.card-text
              li Optimize performance
              li Check virus status
              li Perform updates
              li Clean unused files

    div.card.mb-3.me-0.ms-auto.card-service
      div.row.g-0
        div.col-md-8.card-content-right
          div.card-body
            h5.card-title.card-title-green Diagnostics
            p.card-text Something not working right?
        div.col-md-4.text-center.align-items-center.py-5.px-4
            i.fa-solid.fa-stopwatch.fa-5x.card-icon-blue

    div.card.mb-3.card-service
      div.row.g-0
        div.col-md-4.text-center.align-items-center.py-5.px-4
            //- i.fa-solid.fa-circle-up.fa-5x.card-title-green
            img.(src="assets\\images\\PC Upgrade Image.jpg" alt="")
        div.col-md-8.card-content-left
          div.card-body
            h5.card-title.card-icon-blue PC Upgrade
            ul.card-text
              li Need more storage?
              li Additional memory?

    div.card.mb-3.me-0.ms-auto.card-service
      div.row.g-0
        div.col-md-8.card-content-right
          div.card-body
            h5.card-title.card-icon-blue Remote Support
            p.card-text Need help from afar?
        div.col-md-4.text-center.align-items-center.py-5.px-4
            i.fa-solid.fa-wifi.fa-5x.card-icon
